// @import 'fonts';
@import 'normalize';

body {
     background: url('@img/background11.jpg') 0 0/auto auto no-repeat fixed;   
}
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10rem;
  color: white;
}
.container {
  margin: 0 auto;
  width: 1200px;
}


