// @import 'fonts';
@import 'normalize';
@import 'fonts';
@import 'header';
body {
     background: url('@img/background11.jpg') 0 0/auto auto no-repeat fixed;   
}
* {
  font-family: 'Caveat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: gold;
}
.container {
  margin: 0 auto;
  width: 1200px;
}


